<div id="app" v-if="refresh">
    <h1>Vue Feature Flipping</h1>

    <div>
        <button @click="setValue(null)">OFF</button>
        <button @click="setValue([])">DISABLED</button>
        <button @click="setValue(['FEAT'])">ENABLED</button>
    </div>

    <div>
        <h2>Service <code>isEnabled()</code></h2>

        <div v-if="isEnabled('FEAT')">
            <code>&lt;div v-if=&quot;isEnabled('FEAT')&quot;&gt;</code>
        </div>
        <div v-if="isEnabled('FEAT', false)">
            <code>&lt;div v-if=&quot;isEnabled('FEAT', false)&quot;&gt;</code>
        </div>
        <div v-if="isEnabled('FEAT', true)">
            <code>&lt;div v-if=&quot;isEnabled('FEAT', true)&quot;&gt;</code>
        </div>
    </div>

    <div>
        <h2>Render DOM (like <code>v-if</code>)</h2>

        <div v-feature-flipping="'FEAT'">
            <code>&lt;div v-feature-flipping=&quot;'FEAT'&quot;&gt;</code>
        </div>
        <div v-feature-flipping.not="'FEAT'">
            <code>&lt;div v-feature-flipping.not=&quot;'FEAT'&quot;&gt;</code>
        </div>
        <div v-feature-flipping.default="'FEAT'">
            <code>&lt;div v-feature-flipping.default=&quot;'FEAT'&quot;&gt;</code>
        </div>
    </div>

    <div>
        <h2>Apply <code>class</code> (like <code>v-bind:class</code>)</h2>

        <div v-feature-flipping:class="{ key: 'FEAT', value: 'enabled' }">
            <code>&lt;div v-feature-flipping:class=&quot;{ key: 'FEAT', value: 'enabled' }&quot;&gt;</code>
        </div>
        <div v-feature-flipping:class.not="{ key: 'FEAT', value: 'enabled' }">
            <code>&lt;div v-feature-flipping:class.not=&quot;{ key: 'FEAT', value: 'enabled' }&quot;&gt;</code>
        </div>
        <div v-feature-flipping:class.default="{ key: 'FEAT', value: 'enabled' }">
            <code>&lt;div v-feature-flipping:class.default=&quot;{ key: 'FEAT', value: 'enabled' }&quot;&gt;</code>
        </div>
    </div>

    <div>
        <h2>Apply <code>style</code> (like <code>v-bind:style</code>)</h2>

        <div v-feature-flipping:style="{ key: 'FEAT', value: { color: 'green' } }">
            <code>&lt;div v-feature-flipping:style=&quot;{ key: 'FEAT', value: { color: 'green' } }&quot;&gt;</code>
        </div>
        <div v-feature-flipping:style.not="{ key: 'FEAT', value: { color: 'green' } }">
            <code>&lt;div v-feature-flipping:style.not=&quot;{ key: 'FEAT', value: { color: 'green' } }&quot;&gt;</code>
        </div>
        <div v-feature-flipping:style.default="{ key: 'FEAT', value: { color: 'green' } }">
            <code>&lt;div v-feature-flipping:style.default=&quot;{ key: 'FEAT', value: { color: 'green' } }&quot;&gt;</code>
        </div>
    </div>

    <div>
        <h2>Router Guard</h2>

        <ul>
            <li>
                <router-link to="/simple">/simple</router-link>
                <code>{featureFlipping: {key: 'FEAT'}}</code>
            </li>
            <li>
                <router-link to="/not">/not</router-link>
                <code>{featureFlipping: {key: 'FEAT', not: true}}</code>
            </li>
            <li>
                <router-link to="/default">/default</router-link>
                <code>{featureFlipping: {key: 'FEAT', default: true}}</code>
            </li>
        </ul>

        <router-view></router-view>
    </div>
</div>
